<div class="nav-left mt-5 px-3">
    <h5><strong>Categorias</strong></h5>
    <ul class="nav flex-column">
        <li class="nav-item">
        <a class="nav-link active" href="#">All</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Sala</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Habitaciones</a>
        </li>
        <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Otras</a>
        </li>
    </ul>
</div>
