<div class="container mt-5">
    <div class="alert alert-success" role="alert" *ngIf = "statusResponse == 'SUCCESS'">
        {{messageResponse}}&nbsp;<a class="nav-link" [routerLink] = "['/']">Ir al login</a>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf = "statusResponse != 'SUCCESS' && statusResponse">
        {{messageResponse}}
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shawdo p-3">
                <div class="card-body text-center">
                    <h5 class="title">HAZTE MIEMBRO</h5>
                    <p class="text-secondary">
                        Crea una cuenta y lleva todo el control
                        de tus productos mas deseados y todas
                        nuestras promociones.
                    </p>
                    <form #formRegister = "ngForm" (ngSubmit) = "addUser(formRegister)">
                        <div class="form-row">
                            <div class="col">
                                <input class="form-control myColores-bg-secondary" type="text" name="inputNames" #inputNames = "ngModel" [(ngModel)] = "user.names" placeholder="Nombres" required>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <input class="form-control myColores-bg-secondary" type="text" name="inputSurnames" #inputSurames = "ngModel" [(ngModel)] = "user.surnames"  placeholder="Apellidos" required>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <input class="form-control myColores-bg-secondary" type="text" name="inputEmail" #inputEmail = "ngModel" [(ngModel)] = "user.email"  placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="col">
                                <input class="form-control myColores-bg-secondary" type="text" name="inputPassword" #inputPassword = "ngModel" [(ngModel)] = "user.password"  placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-row mt-3 text-left">
                            <div class="col">
                                <label for="inputFechaNacimiento"><strong>Fecha de nacimiento</strong></label>
                                <input class="form-control" type="date" name="inputFechaNacimiento" #inputFechaNacimiento = "ngModel" [(ngModel)] = "user.fecha_nacimiento" required>
                            </div>
                            <div class="col">
                                <label for="inputGenero"><strong>Genero</strong></label>
                                    <select class="form-control" name="inputGenero">
                                    <option>Masculino</option>
                                    <option>Femenino</option>
                                    <option>No especificar</option>
                                    </select>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <input class="form-control btn btn-dark" type="submit" value="Registrarme" [disabled] = "formRegister.invalid">
                        </div>
                    </form>
                </div>
            </div>
            <p class="text-secondary mt-3">
                Al crearte una cuenta, aceptas la <a class="nav-link text-secondary" style="display: inline;"><u><strong>Política de privacidad</strong></u></a> 
                y los <a class ="nav-link text-secondary" style="display: inline;"><u><strong>Términos de uso</strong></u></a> de nuestro sitio.
            </p>
